@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=VT323&display=swap');

*,
::before,
::after {
    border-style: dashed;
}

*,
:focus,
:focus-visible {
    box-shadow: none;
    @apply ring-0;
    @apply outline-0;
}

.caret-block {
    background-color: hsla(1, 1%, 100%, 1);
    color: #000;
    animation: blink 1s step-end infinite;
}
